body {
    margin: 0;
}

button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    border-radius: 8px;
    background-color: #f6f6f6;
    font-size: 9pt;
    border-color: #eaeaea;
    font-weight: 900;
    outline: none;
    display: block;
    margin: auto;
    min-width: 132px;
}

button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

button:active {
    background-color: #e3e3e3;
    cursor: pointer;
}

.controls {
    text-align: center;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagecontainer {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
